@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="text-center">
    <h1 class="display-4">Aqui ira todo lo que tenga que ver con el club</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>