@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="container align-items-center">
    <div class="row">
        <div class="col-4">
            <img src="~/img/Fotos Finales - Padel Game Xerez/matias.jpg" alt="Matias" width="300px" height="300px" />
        </div>
        <div class="col-8">
            <h3>MATÍAS.</h3>
            <p>
                El jefe del club. Un encanto de persona con todos los que se le acerquen, profesionalidad y pasión por el deporte hace que Matías se desviva por su trabajo
                Es el encargado del mantenimiento de las pistas con acciones como mantener a buen nivel la arena de las pistas y bien esparcida, red a la altura establecida por las normas generales del Pádel, mantenimiento y limpieza de los vestuarios y atendiendo a la clientela en la barra del bar
                Matías hace su labor por las tardes y fines de semana.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <h3>MATÍAS.</h3>
            <p>
                El jefe del club. Un encanto de persona con todos los que se le acerquen, profesionalidad y pasión por el deporte hace que Matías se desviva por su trabajo
                Es el encargado del mantenimiento de las pistas con acciones como mantener a buen nivel la arena de las pistas y bien esparcida, red a la altura establecida por las normas generales del Pádel, mantenimiento y limpieza de los vestuarios y atendiendo a la clientela en la barra del bar
                Matías hace su labor por las tardes y fines de semana.
            </p>
        </div>
        <div class="col-8">
            <img src="~/img/Fotos Finales - Padel Game Xerez/matias.jpg" alt="Matias" width="300px" height="300px" />
        </div>
    </div>
</div>