@{
    ViewData["Title"] = "Reserva";
}

<br /><br />

<div class="container text-center text-info">
    <h1 class="display-4">Reserva tu pista!</h1>
    <p>Próximamente podrás reservar tu pista aquí sin ningún tipo de problemas.</p>
</div>

<hr class="border-primary w-25" />